:root {
   --color-primary: #3498db;
   --color-light: #4cdde7;
   --color-white: #f0f4f8;
   --color-blue-grey: #627d98;
}

*,
*::before,
*::after {
   margin: 0;
   padding: 0;
   box-sizing: border-box;
}

html {
   font-size: 62.5%;
   font-family: "Montserrat", sans-serif;
}

body {
   background: #181818;
   overflow: hidden;
}

/* Animations */
@keyframes message {
   0% {
      opacity: 0;
      transform: translateY(1rem);
   }
   100% {
      opacity: 1;
      transform: translateY(0);
   }
}

@keyframes moveGradient {
   50% {
      background-position: 100% 50%;
   }
}

@keyframes drop {
   0% {
      transform: translateY(-4rem);
      opacity: 0;
   }

   33% {
      opacity: 1;
      transform: translateY(1rem);
   }

   66% {
      opacity: 1;
      transform: translateY(-0.5rem);
   }

   100% {
      opacity: 1;
      transform: translateY(0);
   }
}

@keyframes rotate {
   0% {
      transform: rotate(-720deg);
   }
   100% {
      transform: rotate(0deg);
   }
}

@keyframes flowIn {
   0% {
      opacity: 0;
      transform: translateX(-5rem);
   }
   100% {
      opacity: 1;
      transform: translateX(0);
   }
}
/* header section with logo, heading , room details  */
.chat-header {
   padding: 2rem;
   margin-left: 25rem;
   background-color: #221e1e;
   display: flex;
   align-items: center;
   justify-content: space-between;
   animation: drop 1s ease-in-out;
}
.chat-logo {
   height: 6rem;
   width: 6rem;
   padding: 0.5rem;
}
.chat-logo img {
   height: 100%;
}
.log-out {
   border-radius: 0.5rem;
   padding: 1rem 1.5rem;
   display: flex;
   justify-content: center;
   align-items: center;
   transition: all 0.3s;
}

.log-out:hover .logout-link {
   color: #fff;
}
.log-out:hover .logout-icon {
   fill: #fff;
}
.log-out:hover {
   background-color: var(--color-primary);
   cursor: pointer;
}
.logout-link {
   display: inline-block;
   text-decoration: none;
   color: var(--color-primary);
   font-size: 1.4rem;
   margin-right: 1rem;
   transition: all 0.3s;
}
.logout-icon {
   height: 1.5rem;
   width: 1.5rem;
   fill: var(--color-primary);
}
.nav {
   padding: 1rem;
   margin-left: auto;
}

.nav-list {
   list-style: none;
   display: flex;
}

.nav-item:not(:last-child) {
   margin-right: 2rem;
}

.nav-link {
   display: inline-block;
   text-transform: uppercase;
   text-decoration: none;
   padding: 1rem 2rem;
   font-size: 1.2rem;
   font-weight: 700;
   color: var(--color-primary);
   transition: all 0.2s;
}

.nav-link:hover {
   color: var(--color-whte);
}
.heading {
   text-align: center;
   display: inline-block;
   font-weight: 500;
   text-shadow: 0 2px 5px white;
   font-size: 2rem;
   color: var(--color-light);
}

.room-display {
   text-transform: uppercase;
   /* height: 4rem; */
   padding: 1rem 2rem;
   font-size: 1.2rem;
   color: var(--color-white);
   width: auto;
   border-radius: 3px;
   background-color: var(--color-primary);
}
.btn {
   text-transform: uppercase;
   text-decoration: none;
   padding: 1rem 2rem;
   font-size: 1.2rem;
   background-color: var(--color-primary);
   color: var(--color-whte);
   width: auto;
   border-radius: 3px;
   border: 1px solid var(--color-whte);
   margin-right: 2rem;
}
/* main area  */
.main-area {
   margin-left: 25rem;
   display: flex;
}

/* sidebar , online members, locaiton button section  */
.sidebar {
   width: 25rem;
   height: 100%;
   padding: 2rem;
   border-radius: 0.5rem;
   background-color: var(--color-primary);
   position: fixed;
   top: 0rem;
   left: 0rem;
   z-index: 1;
   display: flex;
   flex-direction: column;
   align-items: center;
}
.online-heading {
   display: block;
   padding: 1.5rem 0;
   text-align: center;
   border-bottom: 1px solid #fff;
   width: 100%;
   color: white;
}

.online-heading h3 {
   font-size: 1.4rem;
   animation: flowIn 0.5s ease-in-out;
}

.list-items {
   font-size: 1.6rem;
   margin: 1rem auto;
   list-style: none;
   text-transform: uppercase;
   line-height: 3rem;
   color: #fff;
}

.location-div {
   margin-top: auto;
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: center;
}

.location-icon {
   height: 2rem;
   width: 2rem;
   fill: #fff;
}

.location-span {
   font-size: 1.4rem;
   font-weight: 700;
   color: var(--color-white);
   margin-right: 1rem;
}

.location {
   padding: 1rem 2rem;
   background: transparent;
   border: 1px solid #fff;
   border-radius: 10rem;
   transition: all 0.4s;
   cursor: pointer;
   display: flex;
   align-items: center;
}

.location:hover {
   background-color: #000;
   color: var(--color-primary);
   border: 1px solid #000;
}
.location:hover .location-span {
   color: var(--color-primary);
}
.location:hover .location-icon {
   fill: var(--color-primary);
}

.location:focus {
   outline: none;
}

/* main chat section with message and location sharing  */
.main-chat {
   padding: 2rem;
   text-align: center;
   flex: 1;
   color: white;
   text-align: left;
}

.template-div {
   background: #5e5959;
   border-radius: 1rem;
   padding: 1rem;
   line-height: 2rem;
   margin-bottom: 2rem;
   animation: message 0.5s ease;
}

.other-message {
   display: flex;
   justify-content: flex-start;
}

.my-message {
   display: flex;
   justify-content: flex-end;
}

.my-user-det {
   color: #c0ff14;
   font-size: 1.2rem;
   font-weight: 600;
   opacity: 0.8;
   display: flex;
   justify-content: flex-end;
}

.user-det {
   color: var(--color-light);
   font-size: 1.2rem;
   font-weight: 600;
   opacity: 0.8;
}
.timeStamp {
   margin-left: 0.5rem;
   font-size: 1rem;
   opacity: 0.9;
}
.act-message {
   font-size: 1.6rem;
}

/* search bar and send button fixed at bottom  */
.search-bar {
   background-color: #4e4c4c;
   width: calc(100% - 25rem);
   padding: 1rem;
   position: fixed;
   bottom: 0rem;
   left: 25rem;
   display: flex;
}

.form {
   position: relative;
   display: flex;
   width: 100%;
   align-items: center;
   justify-content: flex-end;
}

.button-icon {
   height: 2rem;
   width: 2rem;
}

.form-button {
   padding: 0.8rem 1rem;
   padding-top: 1rem;
   background: var(--color-primary);
   border-radius: 50%;
   margin: 0 1rem;
   border: none;
   cursor: pointer;
   animation: rotate 1s ease-in-out;
}
.form-button:focus {
   outline: none;
}
.form-input {
   flex: 1;
   height: 100%;
   background: #4e4c4c;
   padding: 1.2rem 1.6rem;
   color: white;
   border: none;
}

.form-input:focus {
   outline: none;
}

@media only screen and (max-width: 800px) {
   html {
      font-size: 50%;
   }
}

@media only screen and (max-width: 600px) {
   .sidebar {
      width: 20rem;
   }
   .main-area {
      margin-left: 20rem;
   }

   .search-bar {
      left: 20rem;
      width: calc(100% - 20rem);
   }
   .chat-header {
      margin-left: 20rem;
   }
   .my-user-det {
      font-size: 1rem;
      font-weight: 600;
   }

   .user-det {
      font-size: 1rem;
      font-weight: 600;
   }
   .timeStamp {
      font-size: 0.8rem;
   }
   .act-message {
      font-size: 1.2rem;
   }
}
