:root {
   --color-primary: #3498db;
}

*,
*::before,
*::after {
   margin: 0;
   padding: 0;
   box-sizing: border-box;
}

html {
   font-size: 62.5%;
   font-family: "Montserrat", sans-serif;
}

body {
   background: #212121;
}

/* Animations */
@keyframes message {
   0% {
      opacity: 0;
      transform: translateY(1rem);
   }
   100% {
      opacity: 1;
      transform: translateY(0);
   }
}

@keyframes moveGradient {
   50% {
      background-position: 100% 50%;
   }
}
/* header section with logo, heading , room details  */
.header {
   padding: 1rem 2rem;
   background-color: #221e1e;
   display: flex;
   align-items: center;
   justify-content: space-between;
}
.logo {
   height: 6rem;
   width: 6rem;
   padding: 0.5rem;
}
.logo img {
   height: 100%;
}
.nav {
   padding: 1rem;
   margin-left: auto;
}

.nav-list {
   list-style: none;
   display: flex;
}

.nav-item:not(:last-child) {
   margin-right: 2rem;
}

.nav-link {
   display: inline-block;
   text-transform: uppercase;
   text-decoration: none;
   padding: 1rem 2rem;
   font-size: 1.2rem;
   font-weight: 700;
   color: var(--color-primary);
   transition: all 0.2s;
}

.nav-link:hover {
   color: #fff;
}
.leave-room {
   margin: 0 0 0 1rem;
   display: flex;
}
.leave-room a {
   height: 5rem;
   width: 15rem;
   text-decoration: none;
   text-transform: uppercase;
   border: 2px solid white;
   background-color: #14ffec;
   color: black;
   font-size: 1.4rem;
   font-weight: 500;
   display: flex;
   justify-content: center;
   align-items: center;
}
.heading {
   text-align: center;
   display: inline-block;
   font-weight: 500;
   text-shadow: 0 2px 5px white;
   font-size: 2rem;
   color: #14ffec;
}

.room-display {
   text-transform: uppercase;
   /* height: 4rem; */
   padding: 1rem 2rem;
   font-size: 1.2rem;
   color: #fff;
   width: auto;
   border-radius: 3px;
   border: 1px solid #fff;
}
.btn {
   text-transform: uppercase;
   text-decoration: none;
   padding: 1rem 2rem;
   font-size: 1.2rem;
   background-color: var(--color-primary);
   color: #fff;
   width: auto;
   border-radius: 3px;
   border: 1px solid #fff;
   margin-right: 2rem;
}
/* main area  */
.main-area {
   display: flex;
}

/* sidebar , online members, locaiton button section  */
.sidebar {
   width: 25rem;
   height: 100vh;
   border-right: 2px solid white;
   background-color: #0d7377;
   position: fixed;
   top: 8rem;
   left: 0;
   z-index: 1;
   display: flex;
   flex-direction: column;
   align-items: center;
}
.online-heading {
   height: 7vh;
   text-align: center;
   width: 100%;
   color: white;
   border-bottom: 2px solid white;
}

.online-heading h3 {
   margin: 1rem auto;
}

.list-items {
   font-size: 1.6rem;
   margin: 1rem auto;
   list-style: none;
   text-transform: uppercase;
   line-height: 3rem;
   color: white;
}

.location-div {
   display: flex;
   flex-direction: column;
   justify-content: flex-end;
   align-items: center;
   position: fixed;
   bottom: 1rem;
   left: 5.5rem;
}

.location {
   height: 7vh;
   width: 15rem;
   background: #14ffec;
   color: black;
   border: none;
}

/* main chat section with message and location sharing  */
.main-chat {
   margin: 10vh 0 10vh 25rem;
   text-align: center;
   flex: 1;
   color: white;
   text-align: left;
}

.message-area {
   width: 90%;
   margin: 2rem auto;
}

.template-div {
   background: transparent;
   line-height: 2rem;
   margin-bottom: 2rem;
   animation: message 0.5s ease;
}

.other-message {
   display: flex;
   justify-content: flex-start;
}

.my-message {
   display: flex;
   justify-content: flex-end;
}

.my-user-det {
   color: #c0ff14;
   font-size: 1.2rem;
   font-weight: 600;
   opacity: 0.8;
   display: flex;
   justify-content: flex-end;
}

.user-det {
   color: #14ffec;
   font-size: 1.2rem;
   font-weight: 600;
   opacity: 0.8;
}
.timeStamp {
   margin-left: 0.5rem;
   font-size: 1rem;
   opacity: 0.9;
}
.act-message {
   font-size: 2rem;
}

/* search bar and send button fixed at bottom  */
.search-bar {
   display: flex;
   margin-top: 2px solid white;
   position: fixed;
   bottom: 0.5rem;
   right: 0.5rem;
   height: 7vh;
   width: 83%;
   justify-content: flex-end;
}

.form {
   position: relative;
   display: flex;
   width: 100%;
   align-items: center;
   justify-content: flex-end;
}

.form button {
   height: 100%;
   width: 15rem;
   background: #14ffec;
   color: #212121;
   font-size: 1.4rem;
   border: none;
}
.form input[type="text"] {
   flex: 1;
   height: 100%;
   background: #212121;
   border: 1px solid white;
   padding: 1.2rem 1.6rem;
   color: white;
}
