:root {
   --color-primary: #3498db;
}

*,
*::before,
*::after {
   margin: 0;
   padding: 0;
   box-sizing: border-box;
}

html {
   font-size: 62.5%;
   font-family: "Montserrat", sans-serif;
}

body {
   background: #181818;
}
.header {
   padding: 1rem 2rem;
   background-color: #221e1e;
   display: flex;
   align-items: center;
}
.logo {
   height: 6rem;
   width: 6rem;
   padding: 0.5rem;
}
.logo img {
   height: 100%;
}
.nav {
   padding: 1rem;
   margin-left: auto;
}

.nav-list {
   list-style: none;
   display: flex;
}

.nav-item:not(:last-child) {
   margin-right: 2rem;
}

.nav-link {
   display: inline-block;
   text-transform: uppercase;
   text-decoration: none;
   padding: 1rem 2rem;
   font-size: 1.2rem;
   font-weight: 700;
   color: var(--color-primary);
   transition: all 0.2s;
}

.nav-link:hover {
   color: #fff;
}

section {
   width: 70%;
   margin: auto;
   color: white;
}

.content {
   margin: 4rem auto;
   animation: fade 1.5s ease;
   font-size: 1.2rem;
}

.content h3 {
   font-size: 1.6rem;
   margin: 1rem auto;
   color: #14ffec;
}

.content p {
   font-size: 1.6rem;
   line-height: 2rem;
   margin-bottom: 0.5rem;
}

@keyframes fade {
   0% {
      opacity: 0;
   }
   100% {
      opacity: 1;
   }
}
