:root {
   --color-primary: #3498db;
}

*,
*::before,
*::after {
   margin: 0;
   padding: 0;
   box-sizing: border-box;
}

html {
   font-size: 62.5%;
   font-family: "Montserrat", sans-serif;
}

body {
   background: #181818;
}
.header {
   padding: 1rem 2rem;
   background-color: #221e1e;
   display: flex;
   align-items: center;
}
.logo {
   height: 6rem;
   width: 6rem;
   padding: 0.5rem;
}
.logo img {
   height: 100%;
}
.nav {
   padding: 1rem;
   margin-left: auto;
}

.nav-list {
   list-style: none;
   display: flex;
}

.nav-item:not(:last-child) {
   margin-right: 2rem;
}

.nav-link {
   display: inline-block;
   text-transform: uppercase;
   text-decoration: none;
   padding: 1rem 2rem;
   font-size: 1.2rem;
   font-weight: 700;
   color: var(--color-primary);
   transition: all 0.2s;
}

.nav-link:hover {
   color: #fff;
}

/* index file styling  */
label {
   color: white;
   font-size: medium;
   font-weight: bold;
}

.sidebar-template {
   color: aliceblue;
}

/* New index file css  */

.box {
   width: 50rem;
   padding: 4rem;
   position: absolute;
   top: 50%;
   left: 50%;
   transform: translate(-50%, -50%);
   background: #313030;
   text-align: center;
   border-radius: 2rem;
}
.box h1 {
   color: white;
   text-transform: uppercase;
   font-weight: 500;
}
.box input[type="text"] {
   background: none;
   display: block;
   margin: 2rem auto;
   text-align: center;
   border: 2px solid var(--color-primary);
   padding: 1.4rem 1rem;
   width: 24rem;
   outline: none;
   color: white;
   transition: 0.25s;
   border-radius: 1rem;
}
.box input[type="text"]:focus {
   width: 32rem;
   border-color: white;
}
.box input[type="submit"] {
   background: none;
   display: block;
   margin: 2rem auto;
   text-align: center;
   border: 2px solid var(--color-primary);
   border-radius: 3px;
   padding: 1rem 3rem;
   outline: none;
   color: white;
   transition: 0.25s;
   cursor: pointer;
}
.box input[type="submit"]:hover {
   background: var(--color-primary);
}
